<div class="card mb-4">
  <div class="card-header bg-success text-white">Add product</div>
  <div class="card-body">
    <form (ngSubmit)="addProduct()" #productForm="ngForm">
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label text-sm-end" for="description"
          >Description</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            name="description"
            id="description"
            minlength="5"
            maxlength="60"
            required
            [(ngModel)]="newProduct.description"
            #descModel="ngModel"
            [ngClass]="{
              'is-valid': descModel.touched && descModel.valid,
              'is-invalid': descModel.touched && !descModel.valid
            }"
          />
          @if(descModel.errors?.['required']) {
          <div class="invalid-feedback">Description cannot be empty</div>
          } @if(descModel.errors?.['minlength']) {
          <div class="invalid-feedback">
            You must enter at least
            {{descModel.errors?.['minlength'].requiredLength - descModel.errors?.['minlength'].actualLength}}
            characters more
          </div>
          }
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label text-sm-end" for="price"
          >Price</label
        >
        <div class="col-sm-10">
          <input
            type="number"
            class="form-control"
            name="price"
            id="price"
            required
            min="0.01"
            [(ngModel)]="newProduct.price"
            #priceModel="ngModel"
            [ngClass]="{
              'is-valid': priceModel.touched && priceModel.valid,
              'is-invalid': priceModel.touched && !priceModel.valid
            }"
          />
          @if(priceModel.errors?.['required']) {
          <div class="invalid-feedback">Price cannot be empty</div>
          } @if(priceModel.errors?.['min']) {
          <div class="invalid-feedback">Price must be greater than 0</div>
          }
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label text-sm-end" for="available"
          >Available</label
        >
        <div class="col-sm-10">
          <input
            type="date"
            class="form-control"
            name="available"
            id="available"
            required
            [minDate]="today"
            [(ngModel)]="newProduct.available"
            #availModel="ngModel"
            [ngClass]="{
              'is-valid': availModel.touched && availModel.valid,
              'is-invalid': availModel.touched && !availModel.valid
            }"
          />
          @if(availModel.errors?.['required']) {
          <div class="invalid-feedback">Date cannot be empty</div>
          }
          @if(availModel.errors?.['minDate']) {
          <div class="invalid-feedback">Date must be greater than {{today|date:'dd/MM/yyyy'}}</div>
          }
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label text-sm-end" for="image">
          Image</label
        >
        <div class="col-sm-10">
          <input
            type="file"
            class="form-control"
            accept="image/*"
            id="image"
            (change)="changeImage($event)"
            name="fileName"
            required
            ngModel
            #imageModel="ngModel"
            [ngClass]="{
              'is-valid': imageModel.touched && imageModel.valid,
              'is-invalid': imageModel.touched && !imageModel.valid
            }"
          />
          <div class="invalid-feedback">Image is mandatory</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 offset-sm-2">
          <img class="product-img" alt="" [src]="newProduct.imageUrl" />
        </div>
      </div>

      <div class="mb-3 row">
        <div class="offset-sm-2 col-sm-10">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="productForm.invalid"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

{{ productForm.value | json }}
